.seniors .formation.seven .formation__line:nth-of-type(1) .formation__dot:nth-of-type(4) {
	margin-right: calc(var(--dot-size) * 2);
}

.seniors .formation.seven .formation__line:nth-of-type(2) .formation__dot:nth-of-type(4) {
	margin: 0 calc(var(--dot-size) * 1);
}

.seniors .formation.seven .formation__line:nth-of-type(3) .formation__dot:nth-of-type(3) {
	margin: 0 calc(var(--dot-size) * 2);
}
