/**prva linija*/
.seniors .formation.four .formation__line:nth-of-type(1) .formation__dot:first-child {
	margin-right: calc(var(--dot-size) * 10);
}

/**vtora linija*/
.seniors .formation.four .formation__line:nth-of-type(2) .formation__dot:nth-of-type(2) {
	margin-left: calc(var(--dot-size) * 3.25);
	transform: translateX(calc(var(--dot-size) * -1.25));
}

.seniors .formation.four .formation__line:nth-of-type(2) .formation__dot:nth-of-type(3) {
	margin-right: calc(var(--dot-size) * 3.25);
	transform: translateX(calc(var(--dot-size) * 1.25));
}

/**treta linija*/
.seniors .formation.four .formation__line:nth-of-type(3) .formation__dot:nth-of-type(2) {
	margin-left: calc(var(--dot-size) * 1.5);
	transform: translateX(calc(var(--dot-size) * -0.5));
}

.seniors .formation.four .formation__line:nth-of-type(3) .formation__dot:nth-of-type(5) {
	margin-right: calc(var(--dot-size) * 1.5);
	transform: translateX(calc(var(--dot-size) * 0.5));
}

/**cetvrta linija*/
.seniors .formation.four .formation__line:nth-of-type(4) .formation__dot:nth-of-type(2) {
	margin-left: calc(var(--dot-size) * 3.25);
	transform: translateX(calc(var(--dot-size) * -0.75));
}

.seniors .formation.four .formation__line:nth-of-type(4) .formation__dot:nth-of-type(3) {
	margin-right: calc(var(--dot-size) * 3.25);
	transform: translateX(calc(var(--dot-size) * 0.75));
}

/**petta linija*/
.seniors .formation.four .formation__line:nth-of-type(5) .formation__dot:nth-of-type(2) {
	margin: 0 calc(var(--dot-size) * 4.125);
}

/**sesta linija*/
.seniors .formation.four .formation__line:nth-of-type(6) .formation__dot:first-child {
	margin-right: calc(var(--dot-size) * 10);
}

@media (max-width: 1199px) {
	/**prva linija*/
	.seniors .formation.four .formation__line:nth-of-type(1) .formation__dot:first-child {
		margin-right: calc(var(--dot-size) * 10);
	}

	/**vtora linija*/
	.seniors .formation.four .formation__line:nth-of-type(2) .formation__dot:nth-of-type(2) {
		margin-left: calc(var(--dot-size) * 3.125);
	}

	.seniors .formation.four .formation__line:nth-of-type(2) .formation__dot:nth-of-type(3) {
		margin-right: calc(var(--dot-size) * 3.125);
	}

	/**treta linija*/
	.seniors .formation.four .formation__line:nth-of-type(3) .formation__dot:nth-of-type(2) {
		margin-left: calc(var(--dot-size) * 1.25);
	}

	.seniors .formation.four .formation__line:nth-of-type(3) .formation__dot:nth-of-type(5) {
		margin-right: calc(var(--dot-size) * 1.25);
	}

	/**cetvrta linija*/
	.seniors .formation.four .formation__line:nth-of-type(4) .formation__dot:nth-of-type(2) {
		margin-left: calc(var(--dot-size) * 3.125);
	}

	.seniors .formation.four .formation__line:nth-of-type(4) .formation__dot:nth-of-type(3) {
		margin-right: calc(var(--dot-size) * 3.125);
	}

	/**petta linija*/
	.seniors .formation.four .formation__line:nth-of-type(5) .formation__dot:nth-of-type(2) {
		margin: 0 calc(var(--dot-size) * 4.075);
	}

	/**sesta linija*/
	.seniors .formation.four .formation__line:nth-of-type(6) .formation__dot:first-child {
		margin-right: calc(var(--dot-size) * 10);
	}
}
