.formation {
	min-height: 100vh;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.formation__number {
	position: absolute;
	top: 50%;
	left: 0%;

	color: var(--dark-accent);
	font-size: 1.25em;
	font-weight: bold;

	transform: translateY(-50%);
}

.formation__container {
	position: relative;
	width: 100%;

	display: flex;
	flex-direction: column;
	gap: var(--line-gap);
}

.formation__line {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--dot-size);
}

.formation__dot {
	position: relative;
	width: var(--dot-size);
	height: var(--dot-size);

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--dark);
	border-radius: 50%;

	color: var(--light-accent);
	font-size: calc(var(--dot-size) - 0.65em);
	font-weight: bold;

	cursor: pointer;
}

.formation__dot-name {
	position: absolute;
	padding: 0.25em 0.5em;
	background-color: var(--dark-accent);
	border-radius: 0.5em;

	color: var(--light-accent);
	font-size: 1em;

	transition: all 0.25s ease-in-out;
	z-index: 10;
	opacity: 0;
}

.formation__dot:hover > .formation__dot-name,
.formation__dot:focus > .formation__dot-name {
	transform: translateY(calc(-1 * var(--dot-size) - 0.5em));
	opacity: 1;
}

@media (max-width: 1199px) {
	.formation__number {
		top: calc(-10% - 2em);
		left: 50%;

		font-size: 1.5em;
		transform: translateX(-50%);
	}

	.formation__dot {
		font-weight: normal;
	}

	.formation__dot-name {
		font-size: 0.85em;
	}
}
